.sticky-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 100%;
	background: #c0c0c0;
	z-index: 1000;
	height: 180px;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;

}

.sticky-header .sticky-inner {
	width: 100%;
	// max-width: 768px;
	max-width: 832px;
	margin: 0 auto;
	padding: 0 1.875em;
}

.sticky-header h1{
	display: inline-block;
	position: relative;
}

 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
.sticky-header h1 {
	line-height: 230px;
}

.sticky-header h1 {
	text-transform: uppercase;
	color: #333;
	letter-spacing: 4px;
	font-size: 4em;
	margin: 0;
	float: left;
}


/* Transitions and class for reduced height */
.sticky-header h1{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.sticky-header.sticky-header-shrink {
	height: 90px;
}

.sticky-header.sticky-header-shrink h1 {
	line-height: 90px;
}

.sticky-header.sticky-header-shrink h1 {
	font-size: 2em;
}

/* Example Media Queries */
@media screen and (max-width: 55em) {

	.sticky-header .sticky-inner {
		width: 100%;
	}

	.sticky-header h1{
		display: block;
		margin: 0 auto;
		text-align: center;
		float: none;
	}

	.sticky-header h1 {
		line-height: 115px;
	}

	.sticky-header.sticky-header-shrink h1{
		line-height: 45px;
	}

	.sticky-header.sticky-header-shrink h1 {
		font-size: 2em;
	}

}

