@import url('https://fonts.googleapis.com/css?family=Roboto:100;300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

%text-light {
    font-weight: 100;
}

%text-regular {
    font-weight: 400;
}

%text-bold {
    font-weight: 400;
}

%text-heavy {
    font-weight: 700;
}

%type-straight {
    font-family: 'Roboto', sans-serif;
}

%type-fancy {
    font-family: 'Roboto Slab', serif;
}

body {
    @extend %text-regular;
    @extend %type-straight;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    @extend %type-fancy;
    @extend %text-heavy;
}

.lede {
    @extend %type-fancy;
    @extend %text-regular;
    font-size: 1.2rem;

    @include breakpoint(md) {
        font-size: 1.5rem;
    }
}

.pseudo-heading {
    @extend %type-fancy;
    @extend %text-heavy;
    font-size: 1rem;

    @include breakpoint(md) {
        font-size: 1.2rem;
    }
}

.higlight {
    // display: inline-block;
    background-color: $grey-3;
    // padding: 0 4px;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.small {
    font-size: 12px;
}

.offsite {
    display: inline-block;

}

