<div class="row">

    <div class="col col-xs-12 col-sm-12 col-md-12">

        <h2>Clients</h2>

        <p> wfwwef we fweResponsive modifiers enable specifying different column sizes, offsets, alignment and distribution at xs, sm, md &amp; lg viewport widths.</p>

        <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>

    </div>

</div>

