<div class="row">

    <div class="col col--md-12">

        <h1 class="u-align-center">Hello!</h1>

        <p class="lede">I am a freelance front-end web developer and UX/UI designer based in sunny Somerset and working all over. I specialise in planning, designing and building responsive, accessible interfaces for applications and websites using stuff like HTML5, CSS3 and JavaScript.</p>
    </div>

</div>

<div class="row">
    <div class="col col--xs-4 col--sm-4">
        <img src="/assets/img/me-rounded.jpg" width="150" height="150" alt="Mugshot of your truly">
    </div>
    <div class="col col--xs-8 col--sm-8">
        <p class="_lede">I have worked in the "web industry" since around 2000, starting off as a digital producer for a scientific publishing house in London. Along the way I’ve worked for various agencies as a permanent member of staff or a contractor in dev teams, as a designer and occasionally in management. I've made tons of cool stuff with cutting-edge technologies like WML, Flash and ColdFusion. :)</p>
    </div>
</div>