<div class="row u-space-b30">

    <div class="col col--xs-6 col--sm-6">

        <h2 class="u-space-b30">Recent projects</h2>

    </div>

    <div class="col col--xs-6 col--sm-6 u-align-right">
        <a href="/portfolio/" class="drop-link">View portfolio</a>
    </div>

</div>

<div class="row u-space-b30">

    <div class="col col--xs-4 col--sm-6">
        <img src="/assets/img/moth_min.png" data-src="/assets/img/moth_full_min.png" alt="Check MOT History screen shot" class="project-thumbs lazyload">
    </div>

    <div class="col col--xs-8 col--sm-6">
        <p class="pseudo-heading">MOT History front-end, DVSA</p>
        <p>A public-facing <span class="h"> Agile</span> project; planning and building a fully responsive and accessible custom, production-ready version of the shiny, new GDS framework to allow for scalability and implementation across multiple GOV UK projects. Using <span class="h">HTML5</span>, <span class="h">CSS3</span>, <span class="h">JavaScript</span>, <span class="h">Grunt</span>, <span class="h">Gulp</span> built into a <span class="h">PHP7</span> Zend framework application. Also using <span class="h">Jira</span> and <span class="h">Git</span>.
        <p><a href="https://www.gov.uk/check-mot-history" class="offsite" target="_blank">GOV UK Check MOT History <span class="sr-only">(opens in new window)</span></a></p>
    </div>

</div>

<div class="row u-space-b30">

    <div class="col col--xs-4 col--sm-6">
        <img src="/assets/img/screwfix_min.png" data-src="/assets/img/screwfix_full_min.png" alt="Screwfix screen shot" class="project-thumbs lazyload">
    </div>

    <div class="col col--xs-8 col--sm-6">
        <p class="pseudo-heading">Screwfix ecommerce website rebuild</p>
        <p>an <span class="h">Agile</span> project; designing, building  and implementing a flexible, modular and responsive styleguide to use for the new Screwfix exommerce website. Using <span class="h">HTML5</span>, <span class="h">CSS3</span>, <span class="h">JavaScript</span>, <span class="h">Grunt</span>, <span class="h">Gulp</span>. Also using <span class="h">Jira</span> and <span class="h">Git</span> and built on an Oracle ATG backend, running Spindrift.</p>
        <p><a href="http://www.screwfix.co.uk" class="offsite" target="_blank">screwfix.co.uk <span class="sr-only">(opens in new window)</span></a></p>
    </div>

</div>