<div class="row">

    <div class="col col-xs-12 col-sm-12 col-md-12">

        <h2>Recent projects</h2>

        <p> wfwwef we fweResponsive modifiers enable specifying different column sizes, offsets, alignment and distribution at xs, sm, md &amp; lg viewport widths.</p>

    </div>

</div>

<div class="row">

    <div class="col col-xs-12 col-sm-12 col-md-12">

        <h3>Project 1</h3>

        <p> wfwwef we fweResponsive modifiers enable specifying different column sizes, offsets, alignment and distribution at xs, sm, md &amp; lg viewport widths.</p>

        <div><img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" /></div>

    </div>

</div>

<div class="row">

    <div class="col col-xs-12 col-sm-12 col-md-12">

        <h3>Project 2</h3>

        <p> wfwwef we fweResponsive modifiers enable specifying different column sizes, offsets, alignment and distribution at xs, sm, md &amp; lg viewport widths.</p>

        <div><img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" /></div>

    </div>

</div>
