<div class="row row--xs-center text--sm-center sticky-inner">

    <div class="col col--xs-12 col--sm-12 col--md-5 text--xs-center">

        <a href="/" class="logo" title="Extradev homepage">
            <span class="logo__text">extradev</span>
        </a>

    </div>

    <div class="col col--xs-12 col--sm-12 col--md-7 col--xs-align-bottom">

        <nav class="main-nav">

            <ul class="main-nav__list u-list-plain">

                <li><a href="/" class="main-nav__links">home</a></li>
                <li><a href="/portfolio" class="main-nav__links">portfolio</a></li>
                <li><a href="/about" class="main-nav__links">about</a></li>
                <li><a href="/contact" class="main-nav__links">contact</a></li>

            </ul>

        </nav>

    </div>

</div>

