---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="layout">

    <!-- {!% include main-nav.html %} -->

    <div class="grid grid--container">

        <!--{!% include top-bar.html %}-->

            <div style="border:1px solid red">
                {{ content }}
            </div>


            {% include introduction.html %}


    </div>

    {% include footer.html %}

    <script>
        // console.log($(window).width);
    </script>

</body>


