---
layout: compress
---
{% include head.html %}

    <div class="grid grid--container">

        {% include introduction.html %}

        <!--{!% include projects.html %}-->

        <!--{!% include clients.html %}-->

        <div class="row">

            <div class="col col--xs-4 col--sm-4">
                <a href="/about">Stuff about me</a>
            </div>

            <div class="col col--xs-4 col--sm-4">
                <a href="/work">Work info</a>
            </div>

            <div class="col col--xs-4 col--sm-4">
                <a href="/contact">Get in touch</a>
            </div>

        </div>

    </div>

    <script>
        // console.log($(window).width);
    </script>

{% include footer.html %}
