---
layout: compress
---
{% include head.html %}

<div class="grid grid--container">

    {% include introduction.html %}


    <div class="row">
        <div class="col col--xs-12 col--sm-4">
            <a href="/portfolio" class="home-buttons">Portfolio</a>
        </div>

        <div class="col col--xs-12 col--sm-4">
            <a href="/about" class="home-buttons">About me</a>
        </div>

        <div class="col col--xs-12 col--sm-4">
            <a href="/contact" class="home-buttons">Get in touch</a>
        </div>

    </div>

</div>

{% include footer.html %}
